In [ ]:
#pull all 11 months data
#using FordGO from the SF Bay area and includes 5 cities

In [13]:
import zipfile, urllib.request, shutil
import pandas as pd
import glob


# url = 'https://s3.amazonaws.com/fordgobike-data/201801-fordgobike-tripdata.csv.zip'
# file_name = 'myzip.zip'

# with urllib.request.urlopen(url) as response, open(file_name, 'wb') as out_file:
#     shutil.copyfileobj(response, out_file)
#     with zipfile.ZipFile(file_name) as zf:
#         zf.extractall()

In [14]:
path=r'../RawData'
allfiles=glob.glob(path+"/*.zip")

data_list=[]

In [15]:
# zip_list=[201801-fordgobike-tripdata.csv.zip,
#           201802-fordgobike-tripdata.csv.zip,
#           201803-fordgobike-tripdata.csv.zip,
#           201804-fordgobike-tripdata.csv.zip,
#          201805-fordgobike-tripdata.csv.zip,
#          201806-fordgobike-tripdata.csv.zip,
#          201807-fordgobike-tripdata.csv.zip,
#          201808-fordgobike-tripdata.csv.zip,
#          201809-fordgobike-tripdata.csv.zip,
#          2018010-fordgobike-tripdata.csv.zip,
#          2018011-fordgobike-tripdata.csv.zip,
#          2018012-fordgobike-tripdata.csv.zip]

In [16]:
for z_file in allfiles:
    df=pd.read_csv(z_file, compression='zip',header=0,sep=',',quotechar='"')
    data_list.append(df)

all_frame=pd.concat(data_list,axis=0,ignore_index=True)

C:\Users\Gogster\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """

In [17]:
all_frame.head()

,bike_id,bike_share_for_all_trip,bikeid,birth year,duration_sec,end station id,end station latitude,end station longitude,end station name,end_station_id,...,start_station_id,start_station_latitude,start_station_longitude,start_station_name,start_time,starttime,stoptime,tripduration,user_type,usertype
0,2765.0,No,NaN,NaN,75284.0,NaN,NaN,NaN,NaN,285.0,...,120.0,37.761420,-122.426435,Mission Dolores Park,2018-01-31 22:52:35.2390,NaN,NaN,NaN,Subscriber,NaN
1,2815.0,No,NaN,NaN,85422.0,NaN,NaN,NaN,NaN,15.0,...,15.0,37.795392,-122.394203,San Francisco Ferry Building (Harry Bridges Pl...,2018-01-31 16:13:34.3510,NaN,NaN,NaN,Customer,NaN
2,3039.0,No,NaN,NaN,71576.0,NaN,NaN,NaN,NaN,296.0,...,304.0,37.348759,-121.894798,Jackson St at 5th St,2018-01-31 14:23:55.8890,NaN,NaN,NaN,Customer,NaN
3,321.0,No,NaN,NaN,61076.0,NaN,NaN,NaN,NaN,47.0,...,75.0,37.773793,-122.421239,Market St at Franklin St,2018-01-31 14:53:23.5620,NaN,NaN,NaN,Customer,NaN
4,617.0,No,NaN,NaN,39966.0,NaN,NaN,NaN,NaN,19.0,...,74.0,37.776435,-122.426244,Laguna St at Hayes St,2018-01-31 19:52:24.6670,NaN,NaN,NaN,Subscriber,NaN

In [18]:
all_frame.shape
#this is all the rows 1.853777M by 31

(1853777, 31)

In [21]:
drop_frame= all_frame.dropna(axis=0,how='any',inplace=False)
drop_frame.head()

Empty DataFrame
Columns: [bike_id, bike_share_for_all_trip, bikeid, birth year, duration_sec, end station id, end station latitude, end station longitude, end station name, end_station_id, end_station_latitude, end_station_longitude, end_station_name, end_time, gender, member_birth_year, member_gender, start station id, start station latitude, start station longitude, start station name, start_station_id, start_station_latitude, start_station_longitude, start_station_name, start_time, starttime, stoptime, tripduration, user_type, usertype]
Index: []

[0 rows x 31 columns]

In [10]:
#read in the zips as csv files from the raw data folder
df=pd.read_csv('../RawData/201811-bluebikes-tripdata.zip', compression='zip',header=0,sep=',',quotechar='"')
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,329,2018-11-01 00:00:02.0060,2018-11-01 00:05:31.3200,55,Boylston St at Massachusetts Ave,42.347265,-71.088088,342,Boylston St at Jersey St,42.344651,-71.097325,2867,Subscriber,1991,1
1,814,2018-11-01 00:00:13.0960,2018-11-01 00:13:47.5230,69,Coolidge Corner - Beacon St at Centre St,42.341598,-71.123338,344,Commonwealth Ave at Chiswick Rd,42.340246,-71.151688,3526,Subscriber,1969,0
2,571,2018-11-01 00:01:05.5240,2018-11-01 00:10:37.2020,364,Tremont St at Northampton St,42.338896,-71.081500,359,One Brigham Circle,42.333923,-71.104465,3180,Subscriber,1997,2
3,326,2018-11-01 00:02:39.6440,2018-11-01 00:08:06.4410,178,MIT Pacific St at Purrington St,42.359573,-71.101295,105,Lower Cambridgeport at Magazine St / Riverside Rd,42.357219,-71.113872,2244,Subscriber,1996,1
4,502,2018-11-01 00:03:50.1500,2018-11-01 00:12:12.3290,97,Harvard University River Houses at DeWolfe St ...,42.369190,-71.117141,178,MIT Pacific St at Purrington St,42.359573,-71.101295,3915,Subscriber,1985,1

In [ ]:
# merge all the months"

In [ ]:
#clean out the zeros or nan data

In [ ]:
#determine how many zeros are deleted from the dataset

In [ ]:
#add the zip code column

In [ ]:
#zip code vs number of stations

In [ ]:
# do we want to elimiate the zeros

In [ ]:
# groupby male

In [ ]:
# groupby feemale

In [ ]:
# creat the lat/long and make sure they are in the city limits

In [ ]:
# map the lat/lng over a map of the city

#look at the number of rides over the year

In [ ]:
# id the ride length and then calc the 2sigma

In [ ]:
do we keep these or are the ok